<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../assets/css/components/footer.css">

<div class="footer grid">
    <div class="footer__contact col-6 bg-color2 text-color4 flex jc-center ai-center">
        <div class="footer__contact__inner">
            <div id="contact">Contact with me:</div>
            <div id="phone">
                <i class="fa fa-phone text-color3 me-3"></i>+98-9162345772
            </div>
            <div id="mail">
                <i class="fa fa-envelope text-color3 me-3"></i>zahrarbn99@gmail.com
            </div>
            <div id="address">Iran,Esfahan</div>
        </div>
    </div>
    <div class="footer__socials col-6 bg-color4 text-color2 flex jc-center ai-center">
        <div>
            <div id="projects">Visit my projcts:</div>
            <div class="flex jc-center mb-5">
                <a href="https://www.linkedin.com/in/zahra-rabbani" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://github.com/zrrbn" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
                <a href="https://dribbble.com/zahrarbn99" target="_blank">
                    <i class="fa fa-dribbble"></i>
                </a>
            </div>
            <div id="socials">Also find me in socials:</div>
            <div class="flex jc-center">
                <a href="https://t.me/Zr_rbn" target="_blank">
                    <i class="fa fa-telegram"></i>
                </a>
                <!-- <i class="fa fa-pinterest"></i> -->
                <!-- <i class="fa fa-instagram"></i> -->
                <a href="https://wa.me/989162345773" target="_blank">
                    <i class="fa fa-whatsapp"></i>
                </a>
            </div>
            <div id="rights">All rights are reserved.</div>
        </div>
    </div>
</div>